@model List<ProductItemViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Назва</th>
            <th scope="col">Ціна</th>
            <th scope="col">Фото</th>
            <th scope="col">CRUD</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Name</th>
                <td>@item.Price</td>
                <td>
                    <img src="/products/@item.Images"
                         width="150"
                         alt="img" />
                </td>
                <td class="align-middle text-left"
                    style="font-size: 30px">

                    @*Delete*@
                    <a href="#" class="text-danger text-decoration-none"
                       data-delete-products data-id="@item.Id">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    @*Edit*@
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>

<div class="modal" tabindex="-1" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Видалення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ви дійсно бажаєте видалити запис?</p>
                <div class="lds-hourglass"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-primary" id="btnDeleteProduct">Видалити</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        $(function () {
            var deleteItem;
            $("[data-delete-products]").on("click", function (e) {
                deleteItem = $(this).closest('a'); //елемент, який я видаляю
                e.preventDefault();
                $("#modalDelete").modal("show");
                console.log(deleteItem.attr("data-id"));
            });

            $("#btnDeleteProduct").on("click", function () {
                var url = `/Home/Delete/${deleteItem.attr("data-id")}`;
                axios.post(url)
                    .then(function (result) {
                        deleteItem.closest("tr").remove();
                        $("#modalDelete").modal("hide");
                        //console.log(result);
                    });
            });
        });
    </script>
}
